body {
    margin: 0;
}

.navlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 20px;
    margin: 0;
    justify-content: center;
    background-color: #4169E1;
}

.navlist a {
    text-decoration: none;
    padding: 20px 20px;
    font-family: 'Carter One', cursive;
    font-size: 25px;
    font-weight: bold;
    color: #fafafa;
}

.navlist a:hover {
    background-color: #87CEFA;
}

.navlist a:active {
    background-color: #87CEFA;
}

.logo {
    text-align: center;
}

.logo img {
    width: 50%;
}

h1, h2, h3, h5, h6 {
    text-align: center;
    font-family: 'Candal', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
}

h4 {
    font-family: 'Candal', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

#homesection1 img {
    width: 100%;
}

.newalbum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.newalbumcover img {
    width: 100%;
}

.newalbumcover {
    padding: 10px 40px;
}

.outnouw {
    padding: 10px 40px;
}

#tourdates-home p{
    text-align: center;
}

#tourdates-home {
    padding-bottom: 40px;
}

.tourschedule {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 50px;
    font-family: 'Open Sans', sans-serif;
}

#tourschedulebutton {
    text-align: center;
}

.button {
    background-color: #4169E1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: 'Candal', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#aboutsection1 img{
    width: 100%;
}

#aboutsection2 {
    padding: 20px 30px;
}

/*Timeline for the about*/

* {
    box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #4169E1;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #4169E1;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #4169E1;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #4169E1;
  border-width: 10px 10px 10px 0;
  border-color: transparent #4169E1 transparent transparent;
}

.right::after {
  left: -16px;
}

@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
.timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
.timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

  /* Make sure all circles are at the same spot */
.left::after, .right::after {
    left: 15px;
}
  
  /* Make all right containers behave like the left ones */
.right {
    left: 0%;
}

#aboutsection4 {
    
}

#bandintroduction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.bandmemberpicture-left {
    text-align: right;
    width: 47%;
}

.bandmemberpicture-left img {
    width: 60%;
}

.bandmemberpicture-right {
    width: 47%;
}

.bandmemberpicture-right img {
    width: 60%;
}


.bandmemberintro-left {
    width: 47%;
    text-align: right;
    margin: 20px 20px;
}

.bandmemberintro-left p {
    text-align: left;
}

.bandmemberintro-right {
    width: 47%;
    margin: 20px 20px;
}

.bandmemberintro-right p {
    text-align: left;
}

#musicsection1 img {
    width: 100%;
}

#tourdatessection1 img {
    width: 100%;
}

#tourdatessection2 {
    padding: 20px 30px;
}

#footerinfo {
    background-color: #4169E1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navlistfooter {
    list-style: none;
    font-family: 'Carter One', cursive;
    
}

#footerinfo a {
    text-decoration: none;
    color: #fafafa;
}


