body {
    margin: 0;
}

.navigation img {
    width: 50%;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigtaion li {
    flex: 1;
}

.navigation a {
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
}

.headerimage img {
    width: 100%;
}

#discography-home {
    background-color: #FFE4C4;
}

#tourdates-home {
    background-color: #FFE4C4;
}

#about-us-home {
    background-color: #FFE4C4;
}

#contact-home {
    background-color: #FFE4C4;
}

/*General Styling*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px;
    text-align: center;
    margin: 0;
}

/*Use of Google Fonts

for navigation and header
font-family: 'Gloria Hallelujah', cursive; 
For paragraphs and other text
font-family: 'Open Sans Condensed', sans-serif;

*/

