body {
    margin: 0;
}

.navlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px 20px;
    margin: 0;
    justify-content: center;
    background-color: #4169E1;
}

.navlist a {
    text-decoration: none;
    padding: 20px 20px;
    font-family: 'Carter One', cursive;
    font-size: 25px;
    color: #FF6347;
}

.navlist a:hover {
    background-color: #87CEFA;
}

.navlist a:active {
    background-color: #87CEFA;
}

.logo {
    text-align: center;
}

.logo img {
    width: 70%;
}

h1 {
    text-align: center;
    font-family: 'Candal', sans-serif;
    font-size: 30px;
    background-color: #4169E1;
    color: #FF6347;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#homesection1 img {
    width: 100%;
}

#newshome {
    width: 80%;
    margin: auto;
}

#footerinfo {
    background-color: #4169E1;
}
